src/*.exe
src/sakuracoin
src/sakuracoind
src/test_sakuracoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.sakuracoin

# Compilation and Qt preprocessor part
*.qm
Makefile
sakuracoin-qt
Sakuracoin-Qt.app

# Unit-tests
Makefile.test
sakuracoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
