<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='ja' xml:lang='ja' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>{{ page.title }}</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link href='/sakuracoin/css/cross/cross.css' rel='stylesheet' type='text/css' />
    <link href='/sakuracoin/images/favicon.png' rel='shortcut icon' type='image/png' />
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="js/jquery.jqplot.min.css" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
  </head>
  <body>
    {{ content }}
    <script type="text/javascript">
      var graphData = [
      [0.025, 
      0.025,
      0.02545,
      0.02394,
      0.02394,
      0.02394,
      0.01542,
      0.01542,
      0.02010, 
      0.02010, 
      0.02197, 
      0.03235, 
      0.03235, 
      0.03536, 
      0.03536, 
      0.04198, 
      0.04198, 
      0.04198, 
      0.04198, 
      0.04198, 
      0.04198, 
      0.01405,
      0.01405,
      ]
      ];
      var plot = $.jqplot('lineChart', graphData, {title: '採掘難易度'});
    </script>
  </body>
</html>
